body {
    background-image: url(https://thumb.ac-illust.com/eb/ebaa3aac5f3868bc9bd6f80b3e9359a3_t.jpeg);
    background-size: cover;
    background-position: center;
}

.shop {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.shop img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    position: relative;
    width: fit-content;
    margin: 120px auto 50px auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.hukidasi {
    position: absolute;
    top: -90px;
    right: -80px;
    width: 210px;
}

.gazou {
    width: 100%;
}

.hukidasi div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}